*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.android-home/
.gradle-user-home*/
*.apk
*.ap_
*.aab
bin/
gen/
out/
.gradle/
build/
.navigation/
captures/
output.json
*.hprof
